#{form @update(), class : 'form', role : 'form', id : 'form-edit'}
    #{ui.card title: play.i18n.Messages.get("model.fournisseur.modal.title").raw(), actionLabel: play.i18n.Messages.get("application.action.label").raw()}
        #{if model}
        <input type="hidden" name="model.id" value="${model.id}"/>
        #{/if}

    <div class="row">
        <div class="col-lg-6">
            #{field 'model.nom'}
               #{form.input field: field, label: 'Nom', value : model?.nom, required: true, tooltip: "Nom de l'employé "/}
            #{/field}
        </div>
        <div class="col-lg-6">
            #{field 'model.prenom'}
               #{form.input field: field, label: 'Prénom', value : model?.prenom, required: true, tooltip: "Prénom de l'employé "/}
            #{/field}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            #{field 'model.telephone'}
               #{form.input field: field, label: 'Téléphone', value : model?.telephone, required: true, tooltip: "Téléphone de l'employé "/}
            #{/field}
        </div>
        <div class="col-lg-6">
            #{field 'model.email'}
               #{form.email field: field, label: 'Adresse email', value : model?.email, required: true, tooltip: "Email de l'employé "/}
            #{/field}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            #{field 'model.ville.id'}
               #{form.select field: field, label: 'Ville',  items: villes, required: true, valueProperty: 'id', labelProperty: 'libelle', tooltip: "Ville de l'employé ", helpMessage:"Ville"/}
            #{/field}
        </div>
        <div class="col-lg-6">
            #{field 'model.pays.id'}
               #{form.select field: field, label: 'Pays',  items: pays, required: true, valueProperty: 'id', labelProperty: 'libelle', tooltip: "Pays de l'employé ", helpMessage:"Pays"/}
            #{/field}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            #{field 'model.code_postal'}
               #{form.input field: field, label: 'Code postal', value : model?.code_postal, required: true, tooltip: "Code postal de l'employé "/}
            #{/field}
        </div>
        <div class="col-lg-6">
            #{field 'model.numero_rue'}
               #{form.input field: field, label: 'Numéro de rue', value : model?.numero_rue, required: true, tooltip: "Numéro de rue de l'employé "/}
            #{/field}
        </div>
    </div>


    #{/ui.card}
#{/form}