#{form @update(), class : 'form', role : 'form', id : 'form-edit'}
    #{ui.card title: play.i18n.Messages.get("model.user.modal.title").raw(), actionLabel: play.i18n.Messages.get("application.action.label").raw()}
        #{if model}
        <input type="hidden" name="model.id" value="${model.id}"/>

        #{/if}
    <input type="hidden" name="access" value="" id="acceder"/>
    <div class="row">
        <div class="col-lg-6">
            #{field 'model.nom'}
               #{form.input field: field, label: 'Nom', value : model?.nom, id:'nom', required: true, tooltip: "Nom de l'employé "/}
            #{/field}
        </div>
        <div class="col-lg-6">
            #{field 'model.prenom'}
               #{form.input field: field, label: 'Prénom', value : model?.prenom , id:'prenom', required: true, tooltip: "Prénom de l'employé "/}
            #{/field}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            #{field 'model.fonction.id'}
               #{form.select field: field, label: 'Fonction',  items: fonctions, required: true, valueProperty: 'id', labelProperty: 'libelle', helpMessage: "Fonction"/}
            #{/field}
        </div>
        <div class="col-lg-6">
            #{field 'model.email'}
               #{form.email field: field, label: 'Adresse email', value : model?.email, required: true, tooltip: "Email de l'employé "/}
            #{/field}
        </div>
    </div>
#{if session?.get("autorisations")?.contains("35")}
    <div class="row">
        <div class="col-lg-6">
            #{field 'password'}
               #{form.password field: field, label: 'Mot de passe',placeholder:'Mot de passe', required: true, tooltip: "Mot de passe de l'utlilisateur "/}
            #{/field}
        </div>
        <div class="col-lg-6">
            #{field 'bispassword'}
               #{form.password field: field, label: 'Confirmer mot de passe',placeholder:'Confirmer mot de passe', required: true, tooltip: "Confirmer mot de passe"/}
            #{/field}
        </div>
    </div>
#{/if}
    <div class="row">
        <div class="col-lg-6">
            #{field 'model.login'}
               #{form.input field: field, label: 'Code utilisateur', value : model?.code_user, required: true, tooltip: "Code utilisateu "/}
            #{/field}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h4>Autorisataions</h4>
        </div><!--end .col -->
        <div class="col-lg-2 col-md-3">
            <article class="margin-bottom-xxl">

            </article>
        </div><!--end .col -->
        <div class="col-lg-offset-1 col-md-9">

                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                            #{list items:autorisations, as:'auto'}
                                <div class="checkbox checkbox-styled">
                                    <label>
                                        <input type="checkbox" value="${auto?.id}" name="autorisations[]" class="auto">
                                        <span>${auto?.libelle}</span>
                                    </label>
                                </div>
                            #{/list}
                            </div><!--end .col -->
                        </div><!--end .form-group -->
                        <!--end .form-group -->
                        <!--end .form-group -->

        </div><!--end .col -->
    </div><!--end .row -->
    <div class="row">
        <div class="col-lg-6">
            <div class="col-lg-6">
                <div class="checkbox checkbox-styled">
                    <label>
                        <input type="checkbox" value="model.actif" name="model.actif">
                        <span>Actif</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    #{/ui.card}
#{/form}