#{form.field}
<input ${_disabled == true ? 'disabled="disabled"' : ''}
${_isChecked ? 'checked' : ''}
    type="checkbox" class="form-control"
    value="${_value ? _value : _field.value}"
    id="${_field.id}" ${_required ? 'required' : ''} name="${_field.name}"
    #{if _tooltip}data-toggle="tooltip" data-placement="bottom"
    data-trigger="hover" data-original-title="${_tooltip}"#{/if} ${_extras ? _extras.raw() : ''} />
<span>${_label}</span>
  #{if _helpMessage}
  <p class="help-block">${_helpMessage}</p>
  #{/if}
#{/form.field}
