#{form.field}
<div class="input-group date demo-date">
  <div class="input-group-content">
    <input type="text" class="form-control"
           value="${_value ? _value : _field.value}"
           id="${_field.id}" ${_required ? 'required' : ''} name="${_field.name}" data-dtp="dtp_LLh3T">
    <label for="${_id}">${_label}</label>
  </div>
  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
</div>
#{/form.field}

