#{form.field}
<input type="${_type == null ? 'text' : _type}" class="form-control"
       value="${_value ? _value : _field.value}"
       id="${_field.id}" ${_required ? 'required' : ''} name="${_field.name}"
       #{if _tooltip}
       data-toggle="tooltip" data-placement="bottom"
       data-trigger="hover" data-original-title="${_tooltip}"
       #{/if}
       step=${_step ? "1" : _step}/>
<label for="${_id}">${_label}</label>
  #{if _helpMessage}
  <p class="help-block">${_helpMessage}</p>
  #{/if}
#{/form.field}