#{form.field field : _field, label : _label,  help : _help}
  #{select _field.name, items:_items, valueProperty : _valueProperty,
  labelProperty : _labelProperty,selected:_selected,
  value: (_value ? _value : _field.value), id: _field.id,
  class: (_class ? _class : 'form-control select2-list')}
    #{if _emptyOptionText}
    <option value="${_emptyOptionValue}">${_emptyOptionText}</option>
    #{/if}
  #{/select}
  #{if _helpMessage}
  <p class="help-block">${_helpMessage}</p>
  #{/if}
#{/form.field}