#{form.field field : _field, label : _label,  help : _help}
<textarea name="${_field.name}" id="${_field.id}" class="${_class ? _class : 'form-control'}"
          rows="3" ${_required ? 'required' : ''}
          #{if _tooltip}data-toggle="tooltip" data-placement="bottom"
          data-trigger="hover"
          data-original-title="${_tooltip}"#{/if}>${_value ? _value : _field.value}</textarea>
<label for="${_id}">${_label}</label>
  #{if _helpMessage}
  <p class="help-block">${_helpMessage}</p>
  #{/if}
#{/form.field}