#{extends 'main.html' /}
#{set title:java.lang.String.format("%s: %s", messages.get("model.travail.update.title").raw(), model?.titre).raw() /}

#{box modalId: 'addModal', updateMode: true}
    #{include 'Travails/tag/edit.html'/}
#{/box}


#{if model.typeTravail.system.code==1}
    #{set 'moreScripts'}
    <script>
        $('#nav-travail-arpentre').attr('class', 'active');
    </script>
    #{/set}
#{/if}
#{if model.typeTravail.system.code==0}
    #{set 'moreScripts'}
    <script>
        $('#nav-travail-dessin').attr('class', 'active');
    </script>
    #{/set}
#{/if}
