#{extends 'main.html' /}
#{set title:play.i18n.Messages.get("travail.index.title").raw() /}

#{box modalId: 'addModal'}
<div class="table-responsive">
    <section class="style-default-bright" style="padding-top: 5px">
        <div class="section-body">
            <table id="datatable" class="table">
                <thead>
                <tr>
                    <th>Numero</th>
                    <th>Dossier</th>
                    <th>Client</th>
                    <th>Type travail</th>
                    <th>Par</th>
                    <th>Statut</th>
                    <th class="text-right">Actions</th>
                </tr>
                </thead>
                <tbody>
                    #{list items:travails.reverse(), as:'travail'}
                    <tr>
                        <td>${travail?.id}</td>
                        <td>${travail?.doc}</td>
                        <td>${travail?.beneficiaire}</td>
                        <td>${travail?.typeTravail?.libelle}</td>
                        <td>${travail?.user?.displayName}</td>
                        #{if travail?.statutTravail?.code==1}
                            <td style="color:white;text-align: center"> ${travail?.statutTravail?.libelle}</td>
                        #{/if}
                        #{elseif travail?.statutTravail?.code==2}
                            <td bgcolor="#FF6600" style="color:white;text-align: center" > ${travail?.statutTravail?.libelle}</td>
                        #{/elseif }
                        #{elseif travail?.statutTravail?.code==3 }
                            <td bgcolor="#339966" style="color:white;text-align: center">  ${travail?.statutTravail?.libelle}</td>
                        #{/elseif}
                        #{elseif travail?.statutTravail?.code==4 }
                            <td  bgcolor="#800000" style="color:white;text-align: center">  ${travail?.statutTravail?.libelle}</td>
                        #{/elseif}
                        #{elseif travail?.statutTravail?.code==5 }
                            <td  bgcolor="#000080" style="color:white;text-align: center">  ${travail?.statutTravail?.libelle}</td>
                        #{/elseif}
                        #{elseif travail?.statutTravail?.code==6 }
                            <td  bgcolor="#7fc9bd" style="color:white;text-align: center">  ${travail?.statutTravail?.libelle}</td>
                        #{/elseif}
                        #{elseif travail?.statutTravail?.code==7 }
                            <td  bgcolor="#ff6600" style="color:white;text-align: center">  ${travail?.statutTravail?.libelle}</td>
                        #{/elseif}


                        <td class="text-right">
                            <a href="@{Travails.edit(travail?.id)}" class="btn btn-icon-toggle"
                               data-toggle="tooltip"
                               data-placement="top" data-original-title="Modifier">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip"
                                    onclick="userAjaxHandler.delete('${travail?.id}', '/admin/travail/delete/')"
                                    data-placement="top" data-original-title="Supprimer">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                    #{/list}
                </tbody>
            </table>
        </div><!--end .section-body -->
    </section>
</div><!--end .table-responsive -->
#{/box}

#{modal modalId : 'addModal', modalClass : 'addMod'}
    #{include 'Travails/tag/edit.html'/}
#{/modal}


#{if code==1}
    #{set 'moreScripts'}
    <script>
        $('#nav-travail-arpentre').attr('class', 'active');
    </script>
    #{/set}
#{/if}
#{if code==0}
    #{set 'moreScripts'}
    <script>
        $('#nav-travail-dessin').attr('class', 'active');
    </script>
    #{/set}
#{/if}



