#{form @update(), class : 'form', role : 'form', id : 'form-edit'}
#{ui.card title: play.i18n.Messages.get("model.employe.modal.title").raw(), actionLabel: play.i18n.Messages.get("application.action.label").raw()}
#{if model}
<input type="hidden" name="model.id" value="${model.id}"/>
#{/if}

<div class="row">
    <div class="col-lg-6">
        #{field 'model.nom'}
        #{form.input field: field, label: 'Nom', value : model?.nom, required: true, tooltip: "Nom de l'employé "/}
        #{/field}
    </div>
    <div class="col-lg-6">
        #{field 'model.prenom'}
        #{form.input field: field, label: 'Prénom', value : model?.prenom, required: true, tooltip: "Prénom de l'employé
        "/}
        #{/field}
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        #{field 'model.sexe.id'}
        #{form.select field: field, label: 'Sexe', items: sexes, valueProperty: 'id', labelProperty: 'libelle',
        required: true, value: model?.sexe?.id ? model?.sexe?.id : 0, helpMessage:"Sexe"/}
        #{/field}
    </div>
    <div class="col-lg-6">
        #{field 'model.date_naissance'}
        #{form.dateTimePicker field: field, label: 'Date de naissance', value : model?.date_naissance, required: true,
        tooltip: "Date de naissance de l'employé "/}
        #{/field}
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        #{field 'model.date_embauche'}
        #{form.dateTimePicker field: field, label: 'Date d\'embauche', value : model?.date_embauche, required: true,
        tooltip: "Date d'embauche de l'employé "/}
        #{/field}
    </div>
    <div class="col-lg-6">
        #{field 'model.email'}
        #{form.email field: field, label: 'Adresse email', value : model?.email, required: true, tooltip: "Email de
        l'employé "/}
        #{/field}
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        #{field 'model.telephone'}
        #{form.input field: field, label: 'Téléphone', value : model?.telephone, required: true, tooltip: "Téléphone de
        l'employé "/}
        #{/field}
    </div>
    <div class="col-lg-6">
        #{field 'model.cellulaire'}
        #{form.input field: field, label: 'Céllulaire', value : model?.cellulaire, required: true, tooltip: "Céllulaire
        de l'employé "/}
        #{/field}
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        #{field 'model.code_postal'}
        #{form.input field: field, label: 'Code postal', value : model?.code_postal, required: true, tooltip: "Code
        postal de l'employé "/}
        #{/field}
    </div>

</div>
<div class="row">
    <div class="col-lg-6">
        #{field 'model.diplome.id'}
        #{form.select field: field, label: 'Diplome', items: diplomes, required: true, valueProperty: 'id',
        labelProperty: 'libelle', tooltip: "Diplome de l'employé ", helpMessage:"Diplome"/}
        #{/field}
    </div>
    <div class="col-lg-6">
        #{field 'model.fonction.id'}
        #{form.select field: field, label: 'Fonction', items: fonctions, required: true, valueProperty: 'id',
        labelProperty: 'libelle', tooltip: "Fonction de l'employé ", helpMessage:"Fonction"/}
        #{/field}
    </div>

</div>
<div class="row">
    <div class="col-lg-6">
        #{field 'model.ville.id'}
        #{form.select field: field, label: 'Ville', items: villes, required: true, valueProperty: 'id', labelProperty:
        'libelle', tooltip: "Ville de l'employé ", helpMessage:"Ville"/}
        #{/field}
    </div>
    <div class="col-lg-6">
        #{field 'model.pays.id'}
        #{form.select field: field, label: 'Pays', items: pays, required: true, valueProperty: 'id', labelProperty:
        'libelle', tooltip: "Pays de l'employé ", helpMessage:"Pays"/}
        #{/field}
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        #{field 'model.system.id'}
        #{form.select field: field, label: 'Systems', items: systems, required: true, valueProperty: 'id',
        labelProperty: 'libelle', tooltip: "System de l'employé ", helpMessage:"System"/}
        #{/field}
    </div>
    #{if session?.get("autorisations")?.contains("35") }
    <div class="col-lg-6">
        #{field 'model.salaire'}
        #{form.input field: field, label: 'Salaire', value : model?.salaire, required: true, tooltip: "Salaire "/}
        #{/field}
    </div>
    #{/if}
</div>

<div class="row">
    <div class="col-lg-6">
        <select id="status" name="model.status" class="form-control">
            <option value="1" selected>Actif</option>
            <option value="0">Non actif</option>
        </select>
    </div>
</div>
#{/ui.card}
#{/form}