#{form @update(), class : 'form', role : 'form', id : 'form-edit'}
    #{ui.card title: play.i18n.Messages.get("model.typeInstrument.modal.title").raw(), actionLabel: play.i18n.Messages.get("application.action.label").raw()}
        #{if model}
        <input type="hidden" name="model.id" value="${model.id}"/>
        #{/if}

        <div class="col-lg-12">
            #{field 'model.libelle'}
               #{form.input field: field, label: 'Nom', value : model?.libelle, required: true, tooltip: "Libellé du type d'Instrument ", helpMessage:"Max 60 caractères"/}
            #{/field}
        </div>
    <div class="row">
        <div class="col-lg-6">
            #{field 'model.color'}
               #{form.input field: field, label: 'Couleur', value : model?.color, required: true, tooltip: "Exemple(38040C)(NB:sans pla#) ", helpMessage:"code couleur en hexadecimal"/}
            #{/field}
        </div>
        <div class="col-lg-6">
            #{field 'model.abrev'}
               #{form.input field: field, label: 'Abreviation', value : model?.abrev, required: true, tooltip: "Exemple(GPS=>CN) ", helpMessage:"Abreviation pour la repartition"/}
            #{/field}
        </div>
    </div>

    <div class="col-lg-12">
        #{field 'model.description'}
      #{form.textarea field: field, label: 'Description', value : model?.description, required: true, tooltip: "Description du type d'Instrument"/}
    #{/field}
    </div>

    #{/ui.card}
#{/form}