#{extends 'Repartitions/index.html' /}

<style>

    #external-events {
        float: left;
        width: 150px;
        padding: 0 10px;
        border: 1px solid #ccc;
        background: #eee;
        text-align: left;
    }

    #external-events h4 {
        font-size: 16px;
        margin-top: 0;
        padding-top: 1em;
    }

    #external-events .fc-event {
        margin: 10px 0;
        cursor: pointer;
    }

    #external-events p {
        margin: 1.5em 0;
        font-size: 11px;
        color: #666;
    }

    #external-events p input {
        margin: 0;
        vertical-align: middle;
    }

    #calendar {
        float: right;
        width: 730px;
    }

</style>

<input type="hidden" id="equipes" value="${equipeList}">

<div id='external-events'>
    <h4>Les Equipes</h4>
    #{list items:equipes, as:'equipe'}
    <div class="fc-event" id="${equipe?.id}">
        Employé : #${equipe?.id} <br/> Nom Prénom : ${equipe?.fullName}
        <br/> Fonction : ${equipe?.fonction.libelle}
    </div>
    #{/list}
    <p>
        <input type='checkbox' id='drop-remove' checked hidden/>
        <!--<label for='drop-remove'>remove after drop</label>-->
    </p>
</div>

<div id='calendar'></div>

<div style='clear:both'></div>

#{set 'moreScripts'}
<script>

    var
        _equipes = $.parseJSON($("#equipes").val()),
        event_drop_id = 0;

    console.log(_equipes);

    $('#nav-actors-client-potentiel').attr('class', 'active');

    $('.tab-nav').removeClass('active');


    $('#equipe').attr('class', 'active');

    // document ready
    function today() {
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();

        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }
        return yyyy + '-' + mm + '-' + dd;
    }

    function loadEvents() {

        var events = [];

        for (var i = 0; i < _equipes.length; i++) {
            event = {};
            event.id = _equipes[i].id;
            event.title = showEvent(_equipes[i]);
            event.start = _equipes[i].start;

            events.push(event);
        }

        return events;
    }

    function showEvent(_equipe) {
        var event = 'Employé : #' + _equipe.id +
            ' \n Nom Prénom : ' + _equipe.fullName +
            ' \n Fonction : ' + _equipe.fonction.libelle;

        return event;
    }

    function repartirEquipe(equipe_id, equipe_start, callback) {

//        var base_url = 'http://localhost:9000/';
        // var base_url = 'http://213.32.20.12:9000/';
         var base_url = 'http://213.32.20.12:83/';

        $.ajax({
            url: base_url + 'admin/repartition/repartir-equipe',
            type: 'POST',
            dataType: 'json',
            data: {id: equipe_id, start: equipe_start},
            success: function (data) {
                callback(data);
            }
        });

        // return _ingredients;
    }
    /*function convert(str) {
        var date = new Date(str),
            mnth = ("0" + (date.getMonth() + 1)).slice(-2),
            day = ("0" + date.getDate()).slice(-2);
        return [date.getFullYear(), mnth, day].join("-");
    }*/

    function addZero(i) {
        if (i < 10) {
            i = "0" + i;
        }
        return i;
    }

    function convert(str) {
        var date = new Date(str),
            mnth = ("0" + (date.getMonth() + 1)).slice(-2),
            day = ("0" + date.getDate()).slice(-2),
            h = addZero(date.getHours()),
            m = addZero(date.getMinutes()),
            s = addZero(date.getSeconds());
        return [date.getFullYear(), mnth, day+'T'+h+':'+m+':'+s].join("-");
    }

    /* initialize the external events
     -----------------------------------------------------------------*/

    $('#external-events .fc-event').each(function () {

        // store data so the calendar knows to render an event upon drop
        $(this).data('event', {
            title: $.trim($(this).text()), // use the element's text as the event title
            stick: true // maintain when user navigates (see docs on the renderEvent method)
        });

        // make the event draggable using jQuery UI
        $(this).draggable({
            zIndex: 999,
            revert: true,      // will cause the event to go back to its
            revertDuration: 0  //  original position after the drag
        });

    });

    /* initialize the calendar
     -----------------------------------------------------------------*/

    $('#calendar').fullCalendar({
        schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
        now: today(),
        editable: true, // enable draggable events
        droppable: true, // this allows things to be dropped onto the calendar
        aspectRatio: 1.8,
        scrollTime: '00:00', // undo default 6am scrollTime
        header: {
            left: 'today prev,next',
            center: 'title',
            right: ''
        },
//        defaultView: 'basicWeek',
        defaultView: 'agendaWeek',
        allDaySlot: false,
        timeFormat: 'h:mm',
        minTime: "07:00:00",
        maxTime: "18:00:00",
        slotDuration : '00:30:00',
        snapDuration : '02:00:00',
        views: {
            timelineThreeDays: {
                type: 'timeline',
                duration: {days: 3}
            }
        },
        hiddenDays: [0, 6],
        resourceLabelText: 'Rooms',
        resources: [
            {id: 'a', title: 'Auditorium A'},
            {id: 'b', title: 'Auditorium B', eventColor: 'green'},
            {id: 'c', title: 'Auditorium C', eventColor: 'orange'},
            {
                id: 'd', title: 'Auditorium D', children: [
                {id: 'd1', title: 'Room D1'},
                {id: 'd2', title: 'Room D2'}
            ]
            },
            {id: 'e', title: 'Auditorium E'},
            {id: 'f', title: 'Auditorium F', eventColor: 'red'},
            {id: 'g', title: 'Auditorium G'},
            {id: 'h', title: 'Auditorium H'},
            {id: 'i', title: 'Auditorium I'},
            {id: 'j', title: 'Auditorium J'},
            {id: 'k', title: 'Auditorium K'},
            {id: 'l', title: 'Auditorium L'},
            {id: 'm', title: 'Auditorium M'},
            {id: 'n', title: 'Auditorium N'},
            {id: 'o', title: 'Auditorium O'},
            {id: 'p', title: 'Auditorium P'},
            {id: 'q', title: 'Auditorium Q'},
            {id: 'r', title: 'Auditorium R'},
            {id: 's', title: 'Auditorium S'},
            {id: 't', title: 'Auditorium T'},
            {id: 'u', title: 'Auditorium U'},
            {id: 'v', title: 'Auditorium V'},
            {id: 'w', title: 'Auditorium W'},
            {id: 'x', title: 'Auditorium X'},
            {id: 'y', title: 'Auditorium Y'},
            {id: 'z', title: 'Auditorium Z'}
        ],
        events: loadEvents(),
        drop: function (date, jsEvent, ui, resourceId) {
            console.log('drop', date.format(), resourceId);

            event_drop_id = $(this).attr('id');

            // is the "remove after drop" checkbox checked?
            if ($('#drop-remove').is(':checked')) {
                // if so, remove the element from the "Draggable Events" list
                $(this).remove();
            }
        },
        eventReceive: function (event) { // called when a proper external event is dropped
            console.log('eventReceive', event);
            repartirEquipe(event_drop_id, convert(event.start._d), function (data) {
                console.log(data);
                console.log("oki");
            });
//            location.reload();
        },
        eventDrop: function (event) { // called when an event (already on the calendar) is moved
            console.log('eventDrop', event);
            repartirEquipe(event.id, convert(event.start._d), function (data) {
                console.log(data);
                console.log("oki");
            })
        }
    });


</script>
#{/set}