#{extends 'main.html' /}
<style>
    #wrap {
        width: 100%;
        margin: 0 auto;
    }
    #unlocked{
        margin-left: 70%;
        margin-top: 0%;
    }
</style>
#{set title:play.i18n.Messages.get("repartition.index.title").raw() /}
#{if stateRepartion}
 #{if stateRepartion?.state}
 <div id="unlocked">
     <h4><a href="@{Repartitions.unlock()}" id="first"><i class="md md-lock"></i></a>Verroullé par ${session?.get("fullname")} </h4>
 </div>
 #{/if}
#{/if}

#{box updateMode: true}
<div class=row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-head">
                <ul class="nav nav-tabs nav-justified">
                    <li class="tab-nav" id="travail"><a href="@{Repartitions.travail()}" id="first">TRAVAUX</a></li>
                    <li class="tab-nav" id="instru"><a href="@{Repartitions.instrument()}" id="second">INSTRUMENT</a>
                    </li>
                    <li class="tab-nav" id="equipe"><a href="@{Repartitions.equipe()}" id="third">EQUIPE</a></li>
                </ul>
            </div><!--end .card-head -->
            <div class="card-body tab-content">
                <!--
                <div class="tab-pane" id="first4">TRAVAUX</div>
                <div class="tab-pane" id="second4">INSTRUMENTS</div>
                <div class="tab-pane" id="third4">EQUIPES</div>
                -->
                <div id='wrap'>
                    #{doLayout /}
                </div>
            </div><!--end .card-body -->
        </div><!--end .card -->

    </div>
</div>

#{/box}
