#{extends 'Repartitions/index.html' /}

<style>

    #external-events {
        float: left;
        width: 150px;
        padding: 0px 10px 0px 10px ;
        margin: 5px 0px 5px 0px ;
        border: 1px solid #ccc;
        background: #eee;
        text-align: left;
    }

    #external-events h4 {
        font-size: 16px;
        margin-top: 0;
        padding-top: 1em;
    }

    #external-events .fc-event {
        margin: 10px 0;
        cursor: pointer;
    }

    #external-events p {
        margin: 1.5em 0;
        font-size: 11px;
        color: #666;
    }

    #external-events p input {
        margin: 0;
        vertical-align: middle;
    }

    #calendar {
        float: right;
        width: 730px;
    }

    .parent {
        display: inline-block;
        width: 150px;
        flex-direction: column;
        justify-content: center;
    }

</style>

<input type="hidden" id="instruments" value="${instrumentList}">
<input type="hidden" id="types" value="${typeList}">

*{<div id='external-events'>}*
    *{<h4>Les Instruments</h4>}*
    *{#{list items:instruments, as:'instrument'}}*
    *{<div class="fc-event" id="${instrument?.id}">}*
        *{Instrument : #${instrument?.id} <br/> Nom : ${instrument?.libelle}}*
        *{<br/> Description : ${instrument?.description}}*
    *{</div>}*
    *{#{/list}}*
    *{<p>}*
        *{<input type='checkbox' id='drop-remove' checked hidden/>}*
        *{<!--<label for='drop-remove'>remove after drop</label>-->}*
    *{</p>}*
*{</div>}*
<div class="parent">

<div id='external-events'>
    <h4>GPS</h4>
    #{list items:CN, as:'cn'}
        <div class="fc-event" id="${cn?.id}" style="border-color: #${cn?.typeInstrument?.color};background-color: #${cn?.typeInstrument?.color}">
            Instrument : #${cn?.id} <br/> Nom : ${cn?.libelle}
            <br/> Description : ${cn?.description}
        </div>
    #{/list}
    <p>
        <input type='checkbox' id='drop-remove' checked hidden/>
        <!--<label for='drop-remove'>remove after drop</label>-->
    </p>
</div>

<div id='external-events'>
    <h4>NIVEAU</h4>
    #{list items:NIV, as:'niv'}
        <div class="fc-event" id="${niv?.id}" style="border-color: #${niv?.typeInstrument?.color};background-color: #${niv?.typeInstrument?.color}">
            Instrument : #${niv?.id} <br/> Nom : ${niv?.libelle}
            <br/> Description : ${niv?.description}
        </div>
    #{/list}
    <p>
        <input type='checkbox' id='drop-remove' checked hidden/>
        <!--<label for='drop-remove'>remove after drop</label>-->
    </p>
</div>

<div id='external-events'>
    <h4>CONV</h4>
    #{list items:CONV, as:'conv'}
        <div class="fc-event" id="${conv?.id}"  style="border-color: #${conv?.typeInstrument?.color};background-color: #${conv?.typeInstrument?.color}">
            Instrument : #${conv?.id} <br/> Nom : ${conv?.libelle}
            <br/> Description : ${conv?.description}
        </div>
    #{/list}
    <p>
        <input type='checkbox' id='drop-remove' checked hidden/>
        <!--<label for='drop-remove'>remove after drop</label>-->
    </p>
</div>

<div id='external-events'>
    <h4>ROB</h4>
    #{list items:ROB, as:'rob'}
        <div class="fc-event" id="${rob?.id}"  style="border-color: #${rob?.typeInstrument?.color};background-color: #${rob?.typeInstrument?.color}">
            Instrument : #${rob?.id} <br/> Nom : ${rob?.libelle}
            <br/> Description : ${rob?.description}
        </div>
    #{/list}
    <p>
        <input type='checkbox' id='drop-remove' checked hidden/>
        <!--<label for='drop-remove'>remove after drop</label>-->
    </p>
</div>
<div id='external-events'>
    <h4>GNSS</h4>
    #{list items:GN, as:'gn'}
        <div class="fc-event" id="${gn?.id}"  style="border-color: #${gn?.typeInstrument?.color};background-color: #${gn?.typeInstrument?.color}">
            Instrument : #${gn?.id} <br/> Nom : ${gn?.libelle}
            <br/> Description : ${gn?.description}
        </div>
    #{/list}
    <p>
        <input type='checkbox' id='drop-remove' checked hidden/>
        <!--<label for='drop-remove'>remove after drop</label>-->
    </p>
</div>
</div>

<div id='calendar'></div>

<div style='clear:both'></div>

#{set 'moreScripts'}
<script>

    var
        _instruments = $.parseJSON($("#instruments").val()),
        _types = $.parseJSON($("#types").val()),
        event_drop_id = 0;

    console.log(_instruments);
    console.log(_types);

    $('#nav-actors-client-potentiel').attr('class', 'active');

    $('.tab-nav').removeClass('active');


    $('#instru').attr('class', 'active');

    // document ready
    function today() {
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();

        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }
        return yyyy + '-' + mm + '-' + dd;
    }

    function loadEvents() {

        var events = [];

        for (var i = 0; i < _instruments.length; i++) {
            event = {};
            event.id = _instruments[i].id;
            event.title = showEvent(_instruments[i]);
            event.start = _instruments[i].start;
            event.resourceId = _instruments[i].typeInstrument.id;

            events.push(event);
        }

        return events;
    }
    function loadRessources() {

        var ressources = [];

        for (var i = 0; i < _types.length; i++) {
            ressrce = {};
            ressrce.id = _types[i].id;
            ressrce.eventColor = '#'+_types[i].color;

            ressources.push(ressrce);
        }

        return ressources;
    }

    function showEvent(_instruments) {
        var event = 'Instrument : #' + _instruments.id +
            ' \n Nom : ' + _instruments.libelle +
            ' \n Description : ' + _instruments.description;

        return event;
    }

    function repartirInstrument(instrument_id, instrument_start, callback) {

//        var base_url = 'http://localhost:9000/';
        // var base_url = 'http://213.32.20.12:9000/';
         var base_url = 'http://213.32.20.12:83/';

        $.ajax({
            url: base_url + 'admin/repartition/repartir-instrument',
            type: 'POST',
            dataType: 'json',
            data: {id: instrument_id, start: instrument_start},
            success: function (data) {
                callback(data);
            }
        });

        // return _ingredients;
    }
    /*function convert(str) {
        var date = new Date(str),
            mnth = ("0" + (date.getMonth() + 1)).slice(-2),
            day = ("0" + date.getDate()).slice(-2);
        return [date.getFullYear(), mnth, day].join("-");
    }*/

    function addZero(i) {
        if (i < 10) {
            i = "0" + i;
        }
        return i;
    }

    function convert(str) {
        var date = new Date(str),
            mnth = ("0" + (date.getMonth() + 1)).slice(-2),
            day = ("0" + date.getDate()).slice(-2),
            h = addZero(date.getHours()),
            m = addZero(date.getMinutes()),
            s = addZero(date.getSeconds());
        return [date.getFullYear(), mnth, day+'T'+h+':'+m+':'+s].join("-");
    }

    /* initialize the external events
     -----------------------------------------------------------------*/

    $('#external-events .fc-event').each(function () {

        // store data so the calendar knows to render an event upon drop
        $(this).data('event', {
            title: $.trim($(this).text()), // use the element's text as the event title
            stick: true // maintain when user navigates (see docs on the renderEvent method)
        });

        // make the event draggable using jQuery UI
        $(this).draggable({
            zIndex: 999,
            revert: true,      // will cause the event to go back to its
            revertDuration: 0  //  original position after the drag
        });

    });

    /* initialize the calendar
     -----------------------------------------------------------------*/

    $('#calendar').fullCalendar({
        schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
        now: today(),
        editable: true, // enable draggable events
        droppable: true, // this allows things to be dropped onto the calendar
        aspectRatio: 1.8,
        scrollTime: '00:00', // undo default 6am scrollTime
        header: {
            left: 'today prev,next',
            center: 'title',
            right: ''
        },
//        defaultView: 'basicWeek',
        defaultView: 'agendaWeek',
        allDaySlot: false,
        timeFormat: 'h:mm',
        minTime: "07:00:00",
        maxTime: "18:00:00",
        slotDuration : '00:30:00',
        snapDuration : '02:00:00',
        views: {
            timelineThreeDays: {
                type: 'timeline',
                duration: {days: 3}
            }
        },
        hiddenDays: [0,6],
        resourceLabelText: 'Rooms',
        resources: loadRessources(),
// [
//            {id: 'a', title: 'Auditorium A'},
//            {id: 'b', title: 'Auditorium B', eventColor: 'green'},
//            {id: 'c', title: 'Auditorium C', eventColor: 'orange'},
//            {
//                id: 'd', title: 'Auditorium D', children: [
//                {id: 'd1', title: 'Room D1'},
//                {id: 'd2', title: 'Room D2'}
//            ]
//            },
//            {id: 'e', title: 'Auditorium E'},
//            {id: 'f', title: 'Auditorium F', eventColor: 'red'},
//            {id: 'g', title: 'Auditorium G'},
//            {id: 'h', title: 'Auditorium H'},
//            {id: 'i', title: 'Auditorium I'},
//            {id: 'j', title: 'Auditorium J'},
//            {id: 'k', title: 'Auditorium K'},
//            {id: 'l', title: 'Auditorium L'},
//            {id: 'm', title: 'Auditorium M'},
//            {id: 'n', title: 'Auditorium N'},
//            {id: 'o', title: 'Auditorium O'},
//            {id: 'p', title: 'Auditorium P'},
//            {id: 'q', title: 'Auditorium Q'},
//            {id: 'r', title: 'Auditorium R'},
//            {id: 's', title: 'Auditorium S'},
//            {id: 't', title: 'Auditorium T'},
//            {id: 'u', title: 'Auditorium U'},
//            {id: 'v', title: 'Auditorium V'},
//            {id: 'w', title: 'Auditorium W'},
//            {id: 'x', title: 'Auditorium X'},
//            {id: 'y', title: 'Auditorium Y'},
//            {id: 'z', title: 'Auditorium Z'}
//        ],
        events: loadEvents(),
        drop: function (date, jsEvent, ui, resourceId) {
            console.log('drop', date.format(), resourceId);
            event_drop_id = $(this).attr('id');

            // is the "remove after drop" checkbox checked?
            if ($('#drop-remove').is(':checked')) {
                // if so, remove the element from the "Draggable Events" list
                $(this).remove();
            }
        },
        eventReceive: function (event) { // called when a proper external event is dropped
            console.log('eventReceive', event);
            repartirInstrument(event_drop_id, convert(event.start._d), function (data) {
                console.log(data);
                console.log("oki");
            });
           location.reload();
        },
        eventDrop: function (event) { // called when an event (already on the calendar) is moved
            console.log('eventDrop', event);
            repartirInstrument(event.id, convert(event.start._d), function (data) {
                console.log(data);
                console.log("oki");
            })
        }
    });


</script>
#{/set}