#{extends 'Repartitions/index.html' /}
<link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css"/>
<link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css"/>
<style>

    #external-events {
        float: left;
        width: 150px;
        padding: 0 10px;
        border: 1px solid #ccc;
        background: #eee;
        text-align: left;
    }

    #external-events h4 {
        font-size: 16px;
        margin-top: 0;
        padding-top: 1em;
    }

    #external-events .fc-event {
        margin: 10px 0;
        cursor: pointer;
    }

    #external-events p {
        margin: 1.5em 0;
        font-size: 11px;
        color: #666;
    }

    #external-events p input {
        margin: 0;
        vertical-align: middle;
    }

    #calendar {
        float: right;
        width: 730px;
    }

</style>

<input type="hidden" id="travails" value="${travailList}">
<input type="hidden" id="instruments" value="${instrumentList}">
<input type="hidden" id="equipes" value="${equipeList}">
<input type="hidden" id="reparties" value="${repartiesList}">

<div id='external-events'>
    <h4>Les travaux</h4>
    #{list items:travails, as:'travail'}
        #{if travail?.dead}
            <div class="fc-event event-danger" id="${travail?.id}" data-rdv="${travail?.rdv}" data-html="true"
                 data-toggle="tooltip" data-placement="right" title="" data-original-title="${travail?.doc} - ${travail?.beneficiaire}<br/>
                            Par : ${travail?.user?.displayName} <br/>
                            Travail : #${travail?.id} <br/>
                            DeadLine : #${travail?.deadLine} <br/>
                                ">${travail?.doc}  ${travail?.beneficiaire}<br/> ${travail?.lieu}
            </div>
        #{/if}
        #{else}
            #{if travail?.rdv}
                <div class="fc-event event-success" id="${travail?.id}" data-rdv="${travail?.rdv}" data-html="true"
                     data-toggle="tooltip" data-placement="right" title="" data-original-title="${travail?.doc}-${travail?.beneficiaire}<br/>
                            Par : ${travail?.user?.displayName} <br/>
                            Travail : #${travail?.id} <br/>
                            DeadLine : #${travail?.deadLine} <br/>
                            Rdv : #${travail?.rdv} <br/>
                                ">${travail?.doc}  ${travail?.beneficiaire}<br/> ${travail?.lieu}
                </div>
            #{/if}
            #{else}
                <div class="fc-event" id="${travail?.id}" data-rdv="${travail?.rdv}" data-html="true"
                     data-toggle="tooltip" data-placement="right" title="" data-original-title="
                            ${travail?.doc} - ${travail?.beneficiaire}<br/>
                            Par : ${travail?.user?.displayName} <br/>
                            Travail : #${travail?.id} <br/>
                            DeadLine : ${travail?.deadLine} <br/>
                                ">${travail?.doc}  ${travail?.beneficiaire}<br/> ${travail?.lieu}
                </div>
            #{/else}
        #{/else}
    #{/list}
    <p>
        <input type='checkbox' id='drop-remove' checked hidden/>
        <!--<label for='drop-remove'>remove after drop</label>-->
    </p>
</div>

<div id='calendar'></div>

<div style='clear:both'></div>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>

<script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.print.min.js"></script>
#{get 'moreScripts' /}

#{set 'moreScripts'}
<script>

    $('#calendar table').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            {
                extend: 'excel',
                text: 'Excel',
                exportOptions: {
                    header : true

                }
            },
            {
                extend: 'print',
                text: 'Print',
                exportOptions: {
                    header : true
                }
            },
            {
                extend: 'pdf',
                text: 'pdf',
                exportOptions: {
                    header : true
                }
            }
        ],
        "paging": false
    } );
    var
        _travails = $.parseJSON($("#travails").val()),
        _instruments = $.parseJSON($("#instruments").val()),
        _equipes = $.parseJSON($("#equipes").val()),
        _reparties = $.parseJSON($("#reparties").val()),
        event_drop_id = 0;

    //console.log(_travails);
    console.log(_reparties);

    $('#nav-actors-client-potentiel').attr('class', 'active');

    $('.tab-nav').removeClass('active');


    $('#travail').attr('class', 'active');

    // document ready

    function today() {
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();

        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }
        return yyyy + '-' + mm + '-' + dd;
    }

    function loadEvents() {

        var events = [];

        for (var i = 0; i < _travails.length; i++) {
            event = {};
            if (_travails[i].isrepartie == true) {
                console.log(_travails[i].isrepartie);
                event.id = _travails[i].id;
                event.title = showEvent(_travails[i]);
                event.start = _travails[i].start;
                if (_travails[i].dead){
                    event.resourceId = 'c';
                } else {
                    if (_travails[i].rdv) {
                        event.resourceId = 'b';
                    } else {
                        event.resourceId = 'd';
                    }
                }

                events.push(event);
            }
        }

//        for (var i = 0; i < _instruments.length; i++) {
//            event = {};
//            event.id = _instruments[i].id;
//            event.title = showInstru(_instruments[i]);
//            event.start = _instruments[i].start;
//            event.resourceId = 'e';
//
//            events.push(event);
//        }
        for (var i = 0; i < _reparties.length; i++) {
            event = {};
//            event.id = _reparties[i].id;
            event.title = _reparties[i].libelle;
            event.start = _reparties[i].start;
            event.resourceId = 'e';

            events.push(event);
        }

//        for (var i = 0; i < _equipes.length; i++) {
//            event = {};
//            event.id = _equipes[i].id;
//            event.title = showEquipe(_equipes[i]);
//            event.start = _equipes[i].start;
//            event.resourceId = 'e';
//
//            events.push(event);
//        }

        return events;
    }

    function showEquipe(_equipe) {
        var event = 'Employé : #' + _equipe.id +
            ' \n Nom Prénom : ' + _equipe.fullName +
            ' \n Fonction : ' + _equipe.fonction.libelle;

        return event;
    }

    function showInstru(_instruments) {
        var event = 'Instrument : #' + _instruments.id +
            ' \n Nom : ' + _instruments.libelle +
            ' \n Description : ' + _instruments.description;

        return event;
    }

    function showEvent(_travail) {
        var event = 'Travail : #' + _travail.id +
            ' \n Client : ' + _travail.beneficiaire +
            ' \n DeadLine : ' + _travail.deadLine +
            ' \n Dossier : ' + _travail.doc;
        if (_travail.rdv) {
            event += ' \n RDV : ' + _travail.rdv;
        }
        isDead(_travail.deadLine);
        return event;
    }

    function repartirTravail(travail_id, travail_start, callback) {

//        var base_url = 'http://localhost:9000/';
         var base_url = 'http://213.32.20.12:9000/';
//         var base_url = 'http://213.32.20.12:83/';

        $.ajax({
            url: base_url + 'admin/repartition/repartir-travail',
            type: 'POST',
            dataType: 'json',
            data: {id: travail_id, start: travail_start},
            success: function (data) {
                callback(data);
            }
        });

        // return _ingredients;
    }

    function addZero(i) {
        if (i < 10) {
            i = "0" + i;
        }
        return i;
    }

    function convert(str) {
        var date = new Date(str),
            mnth = ("0" + (date.getMonth() + 1)).slice(-2),
            day = ("0" + date.getDate()).slice(-2),
            h = addZero(date.getHours()),
            m = addZero(date.getMinutes()),
            s = addZero(date.getSeconds());
        return [date.getFullYear(), mnth, day+'T'+h+':'+m+':'+s].join("-");
    }

    function isDead(_deadLine) {

        var parts = _deadLine.split('/');
        //please put attention to the month (parts[0]), Javascript counts months from 0:
        // January - 0, February - 1, etc
        var deadDate = new Date(parts[2], parts[1] - 1, parts[0]);
        var now = new Date();

        return now > deadDate;

    }

    //    convert("Thu Jun 09 2011 00:00:00 GMT+0530 (India Standard Time)");

    /* initialize the external events
     -----------------------------------------------------------------*/

    $('#external-events .fc-event').each(function () {

        // store data so the calendar knows to render an event upon drop
        $(this).data('event', {
            title: $.trim($(this).text()), // use the element's text as the event title
            stick: true // maintain when user navigates (see docs on the renderEvent method)
        });

        // make the event draggable using jQuery UI
        $(this).draggable({
            zIndex: 999,
            revert: true,      // will cause the event to go back to its
            revertDuration: 0  //  original position after the drag
        });

    });

    /* initialize the calendar
     -----------------------------------------------------------------*/

    $('#calendar').fullCalendar({
        schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
        now: today(),
        editable: true, // enable draggable events
        droppable: true, // this allows things to be dropped onto the calendar
        aspectRatio: 1.8,
        scrollTime: '00:00', // undo default 6am scrollTime
        header: {
            left: 'today prev,next',
            center: 'title',
            right: ''
        },
        defaultView: 'agendaWeek',
        allDaySlot: false,
        timeFormat: 'h:mm',
        minTime: "07:00:00",
        maxTime: "18:00:00",
        slotDuration : '00:30:00',
        snapDuration : '02:00:00',
        timezone: "local",
        ignoreTimezone: false,
        /*events: [
            {
                start: "2017-07-06T14:10:00",
                end:"2017-07-06T15:00:00",
                title:"My title",
                allDay: false
            }],*/
        views: {
            timelineThreeDays: {
                type: 'timeline',
                duration: {days: 3}
            }
        },
        hiddenDays: [0, 6],
        resourceLabelText: 'Rooms',
        resources: [
            {id: 'a', title: 'Auditorium A'},
            {id: 'b', title: 'Event success', eventColor: '#4caf50'},
            {id: 'c', title: 'Event danger', eventColor: '#f44336'},
            {id: 'd', title: 'Events', eventColor: '#3a87ad'},
            {id: 'e', title: 'Events', eventColor: '#DCDCDC'}
        ],
        events: loadEvents(),

        /*events: [
         {id: '1', resourceId: 'b', start: '2017-06-07T02:00:00', end: '2017-06-07T07:00:00', title: 'event 1'},
         {id: '2', resourceId: 'c', start: '2017-05-07T05:00:00', end: '2017-05-07T22:00:00', title: 'event 2'},
         {id: '3', resourceId: 'd', start: '2017-05-06', end: '2017-05-08', title: 'event 3'},
         {id: '4', resourceId: 'e', start: '2017-05-07T03:00:00', end: '2017-05-07T08:00:00', title: 'event 4'},
         {id: '5', resourceId: 'f', start: '2017-05-07T00:30:00', end: '2017-05-07T02:30:00', title: 'event 5'}
         ],*/
        drop: function (date, jsEvent, ui, resourceId) {
            console.log('drop', date.format(), resourceId);

            console.log(ui);
            console.log(jsEvent);
            event_drop_id = $(this).attr('id');

            /*if ($(this).attr('data-rdv')){
             console.log('oki rdv');
             $(this).addClass('event-success');
             }*/

            // is the "remove after drop" checkbox checked?
            if ($('#drop-remove').is(':checked')) {
                // if so, remove the element from the "Draggable Events" list
                $(this).remove();
            }
        },
        eventReceive: function (event) { // called when a proper external event is dropped
            console.log('eventReceive', event);
            console.log('eventDropId', event_drop_id);
            console.log('eventStart', event.start._d);
            console.log(convert(event.start._d));
            repartirTravail(event_drop_id, convert(event.start._d), function (data) {
                console.log(data);
                console.log("oki");
            });
            location.reload();
        },
        eventDrop: function (event) { // called when an event (already on the calendar) is moved
            console.log('eventDrop', event);
            console.log(convert(event.start._d));
            repartirTravail(event.id, convert(event.start._d), function (data) {
                console.log(data);
                console.log("oki");
            });
        }
    });


</script>
#{/set}