<div class="box box-default">
    <div class="row box-header with-border">
    #{ifnot _updateMode}
        <p align="right">
            <button class="btn btn-primary ink-reaction"  data-toggle="modal" data-target="#${_modalId}">
                  ${messages.get("common.button.add")}
            </button>
        </p>
    #{/ifnot}
    </div>
    <!-- /.box-header -->
    <div class="box-body">
    #{doBody /}
    </div><!-- /.box-body -->
</div>
<!-- /.box -->