<div class="box box-default">
    <div class="row box-header with-border">

    </div>
    <!-- /.box-header -->
    <div class="box-body">
    #{doBody /}
    </div><!-- /.box-body -->
</div>
<!-- /.box -->