<header id="header">
    <div class="headerbar">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="headerbar-left">
            <ul class="header-nav header-nav-options">
                <li class="header-nav-brand">
                    <div class="brand-holder">
                        <a href="@{Application.index()}">
                            <span class="text-lg text-bold text-primary"><img src="@{'/public/images/GTG.jpg'}"></span>
                        </a>
                    </div>
                </li>
                <li>
                    <a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar"
                       href="javascript:void(0);">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="headerbar-right">
            <ul class="header-nav header-nav-options">
            </ul><!--end .header-nav-options -->
            <ul class="header-nav header-nav-profile">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
                        <img src="@{'/public/images/user.png'}" alt=""/>
                                 <span class="profile-info">
									${session?.get("fullname")}
                                        <small>${session.get("username")}</small>
								 </span>
                    </a>
                    <ul class="dropdown-menu animation-dock">
                        <li><a href="@{Auth.logout()}"><i
                                class="fa fa-fw fa-power-off text-danger"></i> Se déconnecter</a></li>
                    </ul><!--end .dropdown-menu -->
                </li><!--end .dropdown -->
            </ul><!--end .header-nav-profile -->
        </div><!--end #header-navbar-collapse -->
    </div>
</header>