<div id="menubar" class="menubar-inverse ">
    <div class="menubar-fixed-panel">
        <div>
            <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar"
               href="javascript:void(0);">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>
    <div class="menubar-scroll-panel">

        <!-- BEGIN MAIN MENU -->
        <ul id="main-menu" class="gui-controls">
            <li>
                <a href="@{Application.index()}" id="nav-dashboard">
                    <div class="gui-icon"><i class="md md-dashboard"></i></div>
                    <span class="title">TABLEAU DE BORD</span>
                </a>
            </li><!--end /menu-li -->

            <li class="gui-folder">
                <a id="nav-actors">
                    <div class="gui-icon"><i class="md md-group"></i></div>
                    <span class="title">Arpenteur</span>
                </a>


                <ul>

                *{#{if session?.get("autorisations")?.contains("35") || session?.get("autorisations")?.contains("20") }}*
                    <li>
                        <a href="@{Travails.system(1)}" id="nav-travail-arpentre">
                            <span class="title">Travaux</span>
                        </a>
                    </li>
                *{#{/if}}*
                *{#{if session?.get("autorisations")?.contains("35") || session?.get("autorisations")?.contains("30") }}*
                    <li>
                        <a id="nav-actors-client-potentiel" href="@{Repartitions.index()}" >
                            <span class="title">Repartition</span></a>
                    </li>
                *{#{/if}}*
                </ul>
            </li>
            <li class="gui-folder">
                <a id="nav-acteur">
                    <div class="gui-icon"><i class="md md-group"></i></div>
                    <span class="title">Dessinateurs</span>
                </a>

                <ul>
                    <li>
                        <a id="nav-travail-dessin" href="@{Travails.system(0)}">
                            <span class="title">Travaux</span>
                        </a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="@{Employes.index()}" id="nav-ours-client-prospect">
                    <div class="gui-icon"><i class="md md-bookmark"></i></div>
                    <span class="title">Employés</span>
                </a>
            </li>
            *{<li>}*
                *{<a href="@{Clients.index()}" id="nav-settings-client">}*
                    *{<div class="gui-icon"><i class="md md-local-restaurant"></i></div>}*
                    *{<span class="title">Clients</span>}*
                *{</a>}*
            *{</li>}*
            <li>
                <a href="@{Fournisseurs.index()}" id="nav-settings-fournissuer">
                    <div class="gui-icon"><i class="md md-local-restaurant"></i></div>
                    <span class="title">Fournisseurs</span>
                </a>
            </li>
            <!--end /menu-li -->

            <li>
                <a href="@{Instruments.index()}" id="nav-question">
                    <div class="gui-icon"><i class="md md-smartphone"></i></div>
                    <span class="title">Instruments</span>
                </a>
            </li>

            <!--end /menu-li -->

            <li>
                <a href="@{Utilisateurs.index()}" id="nav-settings-utilisateur">
                    <div class="gui-icon"><i class="md md-local-restaurant"></i></div>
                    <span class="title">Utilisateurs</span>
                </a>
            </li>
            <li class="gui-folder">
                <a id="nav-settings">
                    <div class="gui-icon"><i class="md md-settings"></i></div>
                    <span class="title">Parametres</span>
                </a>
                <!--start submenu -->
                <ul>
                    <li>
                        <a id="nav-settings-bureau" href="@{Bureaux.index()}">
                            <span class="title">Bureaux</span>
                        </a>
                    </li>
                    <li>
                        <a id="nav-settings-diplome" href="@{Diplomes.index()}">
                            <span class="title">Diplomes</span>
                        </a>
                    </li>
                    <li>
                        <a id="nav-settings-pays" href="@{Countries.index()}">
                            <span class="title">Pays</span>
                        </a>
                    </li>
                    <li>
                        <a id="nav-settings-province" href="@{Provinces.index()}">
                            <span class="title">Provinces</span>
                        </a>
                    </li>
                    <li>
                        <a id="nav-settings-ville" href="@{Villes.index()}">
                            <span class="title">Villes</span>
                        </a>
                    </li>
                    <li>
                        <a id="nav-settings-fonction" href="@{Fonctions.index()}">
                            <span class="title">Fonction</span>
                        </a>
                    </li>
                    <li>
                        <a id="nav-settings-typetravail" href="@{TypeTravails.index()}">
                            <span class="title">Type travail</span>
                        </a>
                    </li>
                    <li>
                        <a id="nav-settings-typemandat" href="@{TypeMandats.index()}">
                            <span class="title">Type Mandat</span>
                        </a>
                    </li>
                    <li>
                        <a id="nav-settings-dossier" href="@{Dossiers.index()}">
                            <span class="title">Dossier</span>
                        </a>
                    </li>
                    <li>
                        <a id="nav-settings-autorisation" href="@{Autorisations.index()}">
                            <span class="title">Autorisation</span>
                        </a>
                    </li>
                    <li>
                        <a id="nav-settings-typeinstrument" href="@{TypeInstruments.index()}">
                            <span class="title">Type Instrument</span>
                        </a>
                    </li>
                    <li>
                        <a id="nav-settings-statutTravail" href="@{StatutTravails.index()}">
                            <span class="title">Statut du travail</span>
                        </a>
                    </li>
                    <li>
                        <a id="nav-settings-categories" href="@{Categories.index()}">
                            <span class="title">Categorie</span>
                        </a>
                    </li>
                    <li>
                        <a id="nav-settings-marques" href="@{Marques.index()}">
                            <span class="title">Marque</span>
                        </a>
                    </li>
                    <li>
                        <a id="nav-settings-system" href="@{Systems.index()}">
                            <span class="title">Systeme</span>
                        </a>
                    </li>
                    <li>
                        <a id="nav-settings-system" href="@{Systems.admin()}">
                            <span class="title">Administration</span>
                        </a>
                    </li>
                </ul><!--end /submenu -->
            </li><!--end /menu-li -->
        </ul><!--end .main-menu -->
        <!-- END MAIN MENU -->

        <div class="menubar-foot-panel">
            <small class="no-linebreak hidden-folded">
                <span class="opacity-75">Copyright &copy; 2017</span> <strong>GTG</strong>
            </small>
        </div>
    </div><!--end .menubar-scroll-panel-->
</div><!--end #menubar-->