#{if _trigger == 'link'}

<a class="panel-collapse collapses ${_aclass}" href="#${_modalId}" data-toggle="modal" data-target="#${_modalId}"
   id="${_id}" style="${_style != null ? _style : 'color : #dd4b39;' }">
    <i class="${_iclass != null ? _iclass : 'fa fa-share' }"></i>
    <span>${messages.get(_label).raw()}</span>
</a>

#{/if}
#{else}

<button class="${_btnclass != null ? _btnclass : 'btn btn-default' } ${_aclass}" data-toggle="modal"
        data-target="#${_modalId}">
${messages.get(_label).raw()}
</button>

#{/else}

<div class="modal" id="${_modalId}">
    <div class="modal-dialog ${_modalCl}">
        <div class="modal-content ${_modalClass != null ? _modalClass : 'mod' }">

        #{if _modalTitle}

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">${messages.get(_modalTitle).raw()}</h4>
            </div>

        #{/if}

            <div class="modal-body" id="${_modalContentId}">
            #{doBody /}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="${_dbtnClass}">Annuler</button>
            #{if _btnTitle}
                <button type="${_btntype != null ? _btntype : 'submit'}" class="btn btn-primary" id="${_btnId}">
                ${messages.get(_btnTitle).raw()}
                </button>
            #{/if}
            #{if _abtnTitle}
                <a href="${_aHref}" target="_blank" class="btn btn-primary">
                ${messages.get(_abtnTitle).raw()}
                </a>
            #{/if}
            </div>

        </div>
    </div>
</div>
