#{form @update(), class : 'form', role : 'form', id : 'form-edit'}
    #{ui.card title: play.i18n.Messages.get("model.travail.modal.title").raw(), actionLabel: play.i18n.Messages.get("application.action.label").raw()}
        #{if model}
        <input type="hidden" name="model.id" value="${model.id}"/>
        #{/if}
        <input type="hidden" name="model.user.id" value="${session.get("USER")}"/>

    <div class="row">
        <div class="col-lg-6">
            #{field 'model.beneficiaire'}
                #{form.input field: field, label: 'Client', value : model?.beneficiaire, required: true, tooltip: "Durée du travail "/}
            #{/field}
        </div>
        <div class="col-lg-6">
            #{field 'model.lieu'}
               #{form.input field: field, label: 'Lieu', value : model?.lieu, required: true, tooltip: "Lieu du travail "/}
            #{/field}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            #{field 'model.typeTravail.id'}
                #{form.select field: field, label: 'Type travail',  items: typeTravails, required: true, valueProperty: 'id',selected:'model?.typeTravail.libelle', labelProperty: 'libelle', helpMessage: "Type travail "/}
            #{/field}
        </div>
        <div class="col-lg-6">
            *{#{field 'model.dossier.id'}}*
                *{#{form.select field: field, label: 'Dossier',  items: dossiers, required: true, valueProperty: 'id', labelProperty: 'libelle', helpMessage: "Dossier "/}}*
            *{#{/field}}*

            #{field 'model.doc'}
                #{form.input field: field, label: 'Dossier', value : model?.doc, required: true, tooltip: "Dossier "/}
            #{/field}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
           #{field 'model.duree'}
               #{form.input field: field, label: 'Durée', value : model?.duree, required: true, tooltip: "Durée du travail "/}
            #{/field}
        </div>
        <div class="col-lg-6">
            #{field 'model.deadLine'}
               #{form.dateTimePicker field: field, label: 'Date limite', value : model?.deadLine, required: true, tooltip: "Date limite "/}
            #{/field}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-control-wrapper">
                <input type="text" id="model_rdv" class="form-control floating-label" value="${model?.rdv}" placeholder="Date de Rendez-vous" name="model.rdv">
            </div>

        </div>
        <div class="col-lg-6">
            #{field 'model.employe.id'}
               #{form.select field: field, label: 'Chef(Préférence)', items: employes, required: true, valueProperty: 'id', labelProperty: 'fullName', helpMessage: "Responsable "/}
            #{/field}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            #{field 'model.instrumentation'}
               #{form.input field: field, label: 'Instrumentation', value : model?.instrumentation, required: true, tooltip: "Instrumentation "/}
            #{/field}
        </div>
    </div>

        #{if model}
        <div class="row">
            <div class="col-lg-6">
                #{field 'model.statutTravail.id'}
               #{form.select field: field, label: 'Statut', items: statuts, required: false, valueProperty: 'id', labelProperty: 'libelle', helpMessage: "Statut du travail ",value: model?.statutTravail?.id ? model?.statutTravail?.id : 0/}
            #{/field}
            </div>
            <div class="col-lg-6">

            </div>
        </div>
        #{/if}

    <div class="row">
        <div class="col-lg-12">
             #{field 'model.description'}
            #{form.textarea field: field, label: 'Note', value : model?.description, required: true, tooltip: "Note"/}
        #{/field}
        </div>
    </div>
    #{/ui.card}
#{/form}