#{form @update(), class : 'form', role : 'form', id : 'form-edit'}
#{ui.card title: play.i18n.Messages.get("model.instrument.modal.title").raw(), actionLabel: play.i18n.Messages.get("application.action.label").raw()}
#{if model}
<input type="hidden" name="model.id" value="${model.id}"/>
#{/if}

<h4 class="col-lg-offset-1">Identification</h4>
<div class="row">
    <div class="col-lg-6">
        #{field 'model.typeInstrument.id'}
        #{form.select field: field, label: 'Type', items: typeInstruments, valueProperty: 'id', labelProperty:
        'libelle', helpMessage:"Type", required: true, value: model?.typeInstrument?.id ? model?.typeInstrument?.id :
        0/}
        #{/field}
    </div>
    <div class="col-lg-6">
        #{field 'model.marque.id'}
        #{form.select field: field, label: 'Marque', items: marques, valueProperty: 'id', labelProperty: 'libelle',
        helpMessage:"Marque", required: true, value: model?.marque?.id ? model?.marque?.id : 0/}
        #{/field}
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        #{field 'model.libelle'}
        #{form.input field: field, label: 'Nom', value : model?.libelle, required: true, tooltip: "Nom de l'instrument
        "/}
        #{/field}
    </div>
    <div class="col-lg-6">
        #{field 'model.version'}
        #{form.input field: field, label: 'Version', value : model?.version, required: true, tooltip: "Version de
        l'instrument"/}
        #{/field}
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        #{field 'model.numero'}
        #{form.input field: field, label: 'Numero', value : model?.numero, required: true, tooltip: "Numero de
        l'instrument "/}
        #{/field}
    </div>
    <div class="col-lg-6">
        #{field 'model.num_serie'}
        #{form.input field: field, label: 'Numero de serie', value : model?.num_serie, required: true, tooltip: "Numero
        de serie de l'instrument"/}
        #{/field}
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        #{field 'model.couleur'}
        #{form.input field: field, label: 'Couleur', value : model?.couleur, required: true, tooltip: "Couleur de
        l'instrument "/}
        #{/field}
    </div>
    <div class="col-lg-6">
        #{field 'model.model'}
        #{form.input field: field, label: 'Modele', value : model?.model, required: true, tooltip: "Modele de
        l'instrument"/}
        #{/field}
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        #{field 'model.compatible'}
        #{form.input field: field, label: 'Compatibilité', value : model?.compatible/}
        #{/field}
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        #{field 'model.disponible.id'}
        #{form.select field: field, label: 'Disponible', items: disponibles, valueProperty: 'id', labelProperty:
        'libelle', helpMessage:"Disponible ?", required: true, value: model?.disponible?.id ? model?.disponible?.id :
        0/}
        #{/field}
    </div>
    <div class="col-lg-6">
        #{field 'model.actif.id'}
        #{form.select field: field, label: 'Actif', items: actifs, valueProperty: 'id', labelProperty: 'libelle',
        helpMessage:"Actif ?", required: true, value: model?.actif?.id ? model?.actif?.id : 0/}
        #{/field}
    </div>
</div>
#{if session?.get("autorisations")?.contains("35")}
<h4 class="col-lg-offset-1">Achat</h4>
<div class="row">
    <div class="col-lg-6">
        #{field 'model.date_aquis'}
        #{form.dateTimePicker field: field, label: 'Date d\'acquisition', value : model?.date_aquis, required: false,
        tooltip: "Date d'acquisition "/}
        #{/field}
    </div>
    <div class="col-lg-6">
        #{field 'model.fin_garantie'}
        #{form.dateTimePicker field: field, label: 'Fin de la garantie', value : model?.fin_garantie, required: false,
        tooltip: "Fin de la garantie "/}
        #{/field}
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        #{field 'model.cout_aquis'}
        #{form.input field: field, label: 'Cout d\'acquisition', value : model?.cout_aquis/}
        #{/field}
    </div>
    <div class="col-lg-6">
        #{field 'model.fournisseur.id'}
        #{form.select field: field, label: 'nom', items: fournisseurs, valueProperty: 'id', labelProperty:
        'displayName', helpMessage:"Fournisseur", required: true, value: model?.fournisseur?.id ? model?.fournisseur?.id
        : 0/}
        #{/field}
    </div>
</div>
#{/if}
#{/ui.card}
#{/form}