#{form @update(), class : 'form', role : 'form', id : 'form-edit'}
#{ui.card title: play.i18n.Messages.get("model.typetravail.modal.title").raw(), actionLabel: play.i18n.Messages.get("application.action.label").raw()}
#{if model}
<input type="hidden" name="model.id" value="${model.id}"/>
#{/if}

<div class="col-lg-12">
    #{field 'model.system.id'}
    #{form.select field: field, items: systems, valueProperty: 'id', labelProperty: 'libelle', helpMessage:"Selection du
    system", required: true, value: model?.system?.id ? model?.system?.id : 0/}
    #{/field}
</div>
<div class="col-lg-12">
    #{field 'model.libelle'}
    #{form.input field: field, label: 'Nom', value : model?.libelle, required: true, tooltip: "Libellé du type de
    travail ", helpMessage:"Max 60 caractères"/}
    #{/field}
</div>

<div class="col-lg-12">
    #{field 'model.description'}
    #{form.textarea field: field, label: 'Description', value : model?.description, required: true, tooltip:
    "Description du type de travail"/}
    #{/field}
</div>

#{/ui.card}
#{/form}