#{extends 'main.html' /}
#{set title:play.i18n.Messages.get("diplome.index.title").raw() /}

#{box modalId: 'addModal'}
<div class="table-responsive">
    <section class="style-default-bright" style="padding-top: 5px">
        <div class="section-body">
            <table id="datatable" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Niveau</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th class="text-right">Actions</th>
                </tr>
                </thead>
                <tbody>
                    #{list items:diplomes.reverse(), as:'diplome'}
                    <tr>
                        <td>${diplome?.niveau}</td>
                        <td>${diplome?.libelle}</td>
                        <td>${diplome?.description}</td>
                        <td class="text-right">
                            <a href="@{Diplomes.edit(diplome?.id)}" class="btn btn-icon-toggle"
                               data-toggle="tooltip"
                               data-placement="top" data-original-title="Modifier">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip"
                                    onclick="userAjaxHandler.delete('${diplome?.id}', '/admin/diplome/delete/')"
                                    data-placement="top" data-original-title="Supprimer">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                    #{/list}
                </tbody>
            </table>
        </div><!--end .section-body -->
    </section>
</div><!--end .table-responsive -->
#{/box}

#{modal modalId : 'addModal', modalClass : 'addMod'}
    #{include 'Diplomes/tag/edit.html'/}
#{/modal}

#{set 'moreScripts'}
<script>
    $('#nav-settings-diplome').attr('class', 'active');
</script>
#{/set}
