#{form @update(), class : 'form', role : 'form', id : 'form-edit'}
    #{ui.card title: play.i18n.Messages.get("model.system.modal.title").raw(), actionLabel: play.i18n.Messages.get("application.action.label").raw()}
        #{if model}
        <input type="hidden" name="model.id" value="${model.id}"/>
        #{/if}

        <div class="col-lg-12">
            #{field 'model.libelle'}
               #{form.input field: field, label: 'Nom', value : model?.libelle, required: true, tooltip: "Libellé du system ", helpMessage:"Max 60 caractères"/}
            #{/field}
        </div>

    <div class="col-lg-12">
        #{field 'model.description'}
      #{form.textarea field: field, label: 'Description', value : model?.description, required: true, tooltip: "Description du system"/}
    #{/field}
    </div>

    #{/ui.card}
#{/form}