#{extends 'main.html' /}
#{set title:play.i18n.Messages.get("fournisseur.index.title").raw() /}

#{box modalId: 'addModal'}
<div class="table-responsive">
    <section class="style-default-bright" style="padding-top: 5px">
        <div class="section-body">
            <table id="datatable" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Téléphone</th>
                    <th>Email</th>
                    <th>Code postal</th>
                    <th>Ville</th>
                    <th class="text-right">Actions</th>
                </tr>
                </thead>
                <tbody>
                    #{list items:fournisseurs.reverse(), as:'fournisseur'}
                    <tr>
                        <td>${fournisseur?.nom}</td>
                        <td>${fournisseur?.prenom}</td>
                        <td>${fournisseur?.telephone}</td>
                        <td>${fournisseur?.email}</td>
                        <td>${fournisseur?.code_postal}</td>
                        <td>${fournisseur?.ville.libelle}</td>
                        <td class="text-right">
                            <a href="@{Fournisseurs.edit(fournisseur?.id)}" class="btn btn-icon-toggle"
                               data-toggle="tooltip"
                               data-placement="top" data-original-title="Modifier">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip"
                                    onclick="userAjaxHandler.delete('${fournisseur?.id}', '/admin/fournisseur/delete/')"
                                    data-placement="top" data-original-title="Supprimer">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                    #{/list}
                </tbody>
            </table>
        </div><!--end .section-body -->
    </section>
</div><!--end .table-responsive -->
#{/box}

#{modal modalId : 'addModal', modalClass : 'addMod'}
    #{include 'Fournisseurs/tag/edit.html'/}
#{/modal}

#{set 'moreScripts'}
<script>
    $('#nav-settings-fournissuer').attr('class', 'active');
</script>
#{/set}
