#{form @update(), class : 'form', role : 'form', id : 'form-edit'}
    #{ui.card title: play.i18n.Messages.get("model.dossier.modal.title").raw(), actionLabel: play.i18n.Messages.get("application.action.label").raw()}
        #{if model}
        <input type="hidden" name="model.id" value="${model.id}"/>
        #{/if}

    <div class="col-lg-6">
        #{field 'model.libelle'}
               #{form.input field: field, label: 'Nom', value : model?.libelle, required: true, tooltip: "Libellé du dossier " /}
            #{/field}
    </div>
    <div class="col-lg-6">
        #{field 'model.code'}
               #{form.input field: field, label: 'Code', value : model?.code, required: true, tooltip: "Code du dossier "/}
            #{/field}
    </div>

    <div class="col-lg-12">
        #{field 'model.description'}
      #{form.textarea field: field, label: 'Description', value : model?.description, required: true, tooltip: "Description du dossier"/}
    #{/field}
    </div>

    #{/ui.card}
#{/form}