#{extends 'main.html' /}
#{set title:play.i18n.Messages.get("system.index.title").raw() /}

#{box modalId: 'addModal'}
<div id="unlocked">
    <h4><a href="@{Repartitions.unlock()}" id="first"><i class="md md-lock"></i></a>Verroullé par ${session?.get("fullname")} </h4>
</div>
#{/box}

