#{extends 'main.html' /}
#{set title:play.i18n.Messages.get("pays.index.title").raw() /}

#{box modalId: 'addModal'}
<div class="table-responsive">
    <section class="style-default-bright" style="padding-top: 5px">
        <div class="section-body">
            <table id="datatable" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Code</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th class="text-right">Actions</th>
                </tr>
                </thead>
                <tbody>
                    #{list items:payss.reverse(), as:'pays'}
                    <tr>
                        <td>${pays?.code}</td>
                        <td>${pays?.libelle}</td>
                        <td>${pays?.description}</td>
                        <td class="text-right">
                            <a href="@{Countries.edit(pays?.id)}" class="btn btn-icon-toggle"
                               data-toggle="tooltip"
                               data-placement="top" data-original-title="Modifier">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip"
                                    onclick="userAjaxHandler.delete('${pays?.id}', '/admin/pays/delete/')"
                                    data-placement="top" data-original-title="Supprimer">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                    #{/list}
                </tbody>
            </table>
        </div><!--end .section-body -->
    </section>
</div><!--end .table-responsive -->
#{/box}

#{modal modalId : 'addModal', modalClass : 'addMod'}
    #{include 'Countries/tag/edit.html'/}
#{/modal}

#{set 'moreScripts'}
<script>
    $('#nav-settings-pays').attr('class', 'active');
</script>
#{/set}
