#{form @update(), class : 'form', role : 'form', id : 'form-edit'}
    #{ui.card title: play.i18n.Messages.get("model.ville.modal.title").raw(), actionLabel: play.i18n.Messages.get("application.action.label").raw()}
        #{if model}
        <input type="hidden" name="model.id" value="${model.id}"/>
        #{/if}

        <div class="col-lg-12">
            #{field 'model.province.id'}
                   #{form.select field: field, items: provinces, valueProperty: 'id', labelProperty: 'libelle', helpMessage:"Selection de la province", required: true, value: model?.province?.id ? model?.province?.id : 0/}
                #{/field}
        </div>
        <div class="col-lg-12">
            #{field 'model.libelle'}
               #{form.input field: field, label: 'Nom', value : model?.libelle, required: true, tooltip: "Libellé de la ville ", helpMessage:"Max 60 caractères"/}
            #{/field}
        </div>

    <div class="col-lg-12">
        #{field 'model.description'}
      #{form.textarea field: field, label: 'Description', value : model?.description, required: true, tooltip: "Description de la ville"/}
    #{/field}
    </div>

    #{/ui.card}
#{/form}