#{extends 'main.html' /}
#{set title:play.i18n.Messages.get("employe.index.title").raw() /}

#{box modalId: 'addModal'}
<div class="table-responsive">
    <section class="style-default-bright" style="padding-top: 5px">
        <div class="section-body">
            <table id="datatable" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Sexe</th>
                    <th>Email</th>
                    <th>Céllulaire</th>
                    <th>Fonction</th>
                    <th>Ville</th>
                #{if session?.get("autorisations")?.contains("35") }
                    <th>Salaire</th>
                #{/if}
                    <th class="text-right">Actions</th>
                </tr>
                </thead>
                <tbody>
                    #{list items:employes.reverse(), as:'employe'}
                    <tr>
                        <td>${employe?.nom}</td>
                        <td>${employe?.prenom}</td>
                        <td>${employe?.sexe.libelle}</td>
                        <td>${employe?.email}</td>
                        <td>${employe?.cellulaire}</td>
                        <td>${employe?.fonction.libelle}</td>
                        <td>${employe?.ville.libelle}</td>
                        #{if session?.get("autorisations")?.contains("35") }
                            <td>${employe?.salaire}</td>
                        #{/if}
                        <td class="text-right">
                            <a href="@{Employes.edit(employe?.id)}" class="btn btn-icon-toggle"
                               data-toggle="tooltip"
                               data-placement="top" data-original-title="Modifier">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a href="@{Employes.salaire(employe?.id)}" class="btn btn-icon-toggle"
                               data-toggle="tooltip"
                               data-placement="top" data-original-title="Salaire">
                                <i class="md-attach-money"></i>
                            </a>
                            <a href="@{Employes.vacance(employe?.id)}" class="btn btn-icon-toggle"
                               data-toggle="tooltip"
                               data-placement="top" data-original-title="Vacance">
                                <i class="md-party-mode"></i>
                            </a>
                            <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip"
                                    onclick="userAjaxHandler.delete('${employe?.id}', '/admin/employe/delete/')"
                                    data-placement="top" data-original-title="Supprimer">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                    #{/list}
                </tbody>
            </table>
        </div><!--end .section-body -->
    </section>
</div><!--end .table-responsive -->
#{/box}

#{modal modalId : 'addModal', modalClass : 'addMod'}
    #{include 'Employes/tag/edit.html'/}
#{/modal}

#{set 'moreScripts'}
<script>
    $('#nav-settings-employe').attr('class', 'active');
</script>
#{/set}
