#{extends 'main.html' /}
#{set title:java.lang.String.format("%s: %s", messages.get("model.employe.update.title").raw(), model?.nom).raw() /}

#{box modalId: 'addModal', updateMode: true}
    #{form @addSalaire(), class : 'form', role : 'form', id : 'form-edit'}
        #{ui.card title: play.i18n.Messages.get("model.salaire.modal.title").raw(), actionLabel: play.i18n.Messages.get("application.action.label").raw()}
            #{if model}
            <input type="hidden" name="id" value="${model.id}"/>
            #{/if}
        <div class="row">
        <div class="col-lg-4">
            #{field 'date_salaire'}
               #{form.dateTimePicker field: field, label: 'Date de la salaire', required: true, tooltip: "Date du nouveau salaire "/}
            #{/field}
        </div>
        <div class="col-lg-8">
            #{field 'salaire'}
              #{form.input field: field, label: 'Salaire', required: true, tooltip: "Salaire"/}
            #{/field}
        </div>
        </div>
        #{/ui.card}
    #{/form}
#{/box}
<em class="text-caption">Historique des salaires</em>
#{box updateMode: true}
<div class="card card-bordered style-primary" style="margin-bottom: 0">
<div class="table-responsive">
    <section class="style-default-bright" style="padding-top: 5px">
        <div class="section-body">
            <table id="datatable" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Salaire</th>
                    <th class="text-right">Actions</th>
                </tr>
                </thead>
                <tbody>
                    #{list items:model.getSalaires(), as:'salaire'}
                    <tr>
                        <td>${salaire?.date_new_salaire}</td>
                        <td>${salaire?.salaire}</td>
                        <td class="text-right">
                            <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip"
                                    onclick="userAjaxHandler.delete('${salaire?.id}', '/admin/salaire/delete/')"
                                    data-placement="top" data-original-title="Supprimer">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                    #{/list}
                </tbody>
            </table>
        </div><!--end .section-body -->
    </section>
</div><!--end .table-responsive -->
</div>
#{/box}

#{set 'moreScripts'}
<script>
    $('#nav-settings-employe').attr('class', 'active');
</script>
#{/set}
