#{extends 'main.html' /}
#{set title:java.lang.String.format("%s: %s", messages.get("model.instrument.update.title").raw(), model?.nom).raw() /}

#{box modalId: 'addModal', updateMode: true}
    #{form @addVacance(), class : 'form', role : 'form', id : 'form-edit'}
        #{ui.card title: play.i18n.Messages.get("model.vacance.modal.title").raw(), actionLabel: play.i18n.Messages.get("application.action.label").raw()}
            #{if model}
            <input type="hidden" name="id" value="${model.id}"/>
            #{/if}

        <div class="row">
            <div class="col-lg-4">
                #{field 'date_debut'}
                   #{form.dateTimePicker field: field, label: 'Date de debut', value :date_debut, required: true, tooltip: "Date de debut "/}
                #{/field}
            </div>
            <div class="col-lg-4">
                #{field 'date_fin'}
                   #{form.dateTimePicker field: field, label: 'Date de fin', value :date_fin, required: true, tooltip: "Date de fin "/}
                #{/field}
            </div>
            <div class="col-lg-4">
                #{field 'nombre'}
                  #{form.input field: field, label: 'nombre', value : cout, required: true, tooltip: "Durée"/}
                #{/field}
            </div>
        </div>
        #{/ui.card}
    #{/form}
#{/box}
<em class="text-caption">Vacances déjà effectués</em>
    #{box updateMode: true}
<div class="card card-bordered style-primary" style="margin-bottom: 0">
<div class="table-responsive">
    <section class="style-default-bright" style="padding-top: 5px">
        <div class="section-body">
            <table id="datatable" class="table table-striped table-hover">
                <thead>
                <tr>

                    <th>Durée</th>
                    <th>Date de debut</th>
                    <th>Date de fin</th>
                    <th class="text-right">Actions</th>
                </tr>
                </thead>
                <tbody>
                    #{list items:model?.getVacances(), as:'vacance'}
                    <tr>
                        <td>${vacance?.nombre}</td>
                        <td>${vacance?.date_debut}</td>
                        <td>${vacance?.date_fin}</td>
                        <td class="text-right">
                            <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip"
                                    onclick="userAjaxHandler.delete('${vacance?.id}', '/admin/vacance/delete/')"
                                    data-placement="top" data-original-title="Supprimer">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                    #{/list}
                </tbody>
            </table>
        </div><!--end .section-body -->
    </section>
</div><!--end .table-responsive -->
</div>
    #{/box}

#{set 'moreScripts'}
<script>
    $('#nav-settings-employe').attr('class', 'active');
</script>
#{/set}
