#{extends 'main.html' /}
#{set title:java.lang.String.format("%s: %s", messages.get("model.instrument.update.title").raw(), model?.libelle).raw() /}

#{box modalId: 'addModal', updateMode: true}
    #{form @addEntretien(), class : 'form', role : 'form', id : 'form-edit'}
        #{ui.card title: play.i18n.Messages.get("model.entretien.modal.title").raw(), actionLabel: play.i18n.Messages.get("application.action.label").raw()}
            #{if model}
            <input type="hidden" name="id" value="${model.id}"/>
            #{/if}

        <div class="row">
            <div class="col-lg-4">
                #{field 'date_entretien'}
                   #{form.dateTimePicker field: field, label: 'Date de l\'entretien', value :date_entretien, required: true, tooltip: "Date de l\'entretien "/}
                #{/field}
            </div>
            <div class="col-lg-8">
                #{field 'idfrs'}
                  #{form.select field: field, label: 'nom', items: fournisseurs, valueProperty: 'id', labelProperty: 'displayName', helpMessage:"Fournisseur", required: true, value: model?.fournisseur?.id ? model?.fournisseur?.id : 0/}
               #{/field}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                #{field 'cout'}
                  #{form.input field: field, label: 'cout', value : cout, required: true, tooltip: "Cout"/}
                #{/field}
            </div>
            <div class="col-lg-8">
                #{field 'detail'}
                  #{form.input field: field, label: 'detail', value : detail, required: true, tooltip: "Detail"/}
                #{/field}
            </div>
        </div>
        #{/ui.card}
    #{/form}
#{/box}
<em class="text-caption">Entretiens déjà effectués</em>
    #{box updateMode: true}
<div class="card card-bordered style-primary" style="margin-bottom: 0">
<div class="table-responsive">
    <section class="style-default-bright" style="padding-top: 5px">
        <div class="section-body">
            <table id="datatable" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Fournisseur</th>
                    <th>Cout</th>
                    <th>Detail</th>
                    <th class="text-right">Actions</th>
                </tr>
                </thead>
                <tbody>
                    #{list items:model?.getEntretiens(), as:'entretien'}
                    <tr>
                        <td>${entretien?.date_entretien}</td>
                        <td>${entretien?.fournisseur?.displayName}</td>
                        <td>${entretien?.cout}</td>
                        <td>${entretien?.detail}</td>
                        <td class="text-right">
                            <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip"
                                    onclick="userAjaxHandler.delete('${entretien?.id}', '/admin/entretien/delete/')"
                                    data-placement="top" data-original-title="Supprimer">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                    #{/list}
                </tbody>
            </table>
        </div><!--end .section-body -->
    </section>
</div><!--end .table-responsive -->
</div>
    #{/box}

#{set 'moreScripts'}
<script>
    $('#nav-settings-instrument').attr('class', 'active');
</script>
#{/set}
