#{extends 'main.html' /}
#{set title:play.i18n.Messages.get("instrument.index.title").raw() /}

#{box modalId: 'addModal'}
<div class="table-responsive">
    <section class="style-default-bright" style="padding-top: 5px">
        <div class="section-body">
            <table id="datatable" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Type</th>
                    <th>Marque</th>
                    <th>Modele</th>
                    <th>Couleur</th>
                    <th>Fournisseur</th>
                    <th>Compatible</th>
                    <th class="text-right">Actions</th>
                </tr>
                </thead>
                <tbody>
                    #{list items:instruments.reverse(), as:'instrument'}
                    <tr>
                        <td>${instrument?.libelle}</td>
                        <td>${instrument?.typeInstrument?.libelle}</td>
                        <td>${instrument?.marque?.libelle}</td>
                        <td>${instrument?.model}</td>
                        <td>${instrument?.couleur}</td>
                        <td>${instrument?.fournisseur?.displayName}</td>
                        <td>${instrument?.compatible}</td>
                        <td class="text-right">
                            <a href="@{Instruments.edit(instrument?.id)}" class="btn btn-icon-toggle"
                               data-toggle="tooltip"
                               data-placement="top" data-original-title="Modifier">
                                <i class="fa fa-pencil"></i>
                            </a>
                        #{if session?.get("autorisations")?.contains("35")}
                            <a href="@{Instruments.remarque(instrument?.id)}" class="btn btn-icon-toggle"
                               data-toggle="tooltip"
                               data-placement="top" data-original-title="Remarque">
                                <i class="md-format-color-text"></i>
                            </a>
                            <a href="@{Instruments.entretien(instrument?.id)}" class="btn btn-icon-toggle"
                               data-toggle="tooltip"
                               data-placement="top" data-original-title="Entretien">
                                <i class="md-content-cut"></i>
                            </a>
                            #{/if}
                            <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip"
                                    onclick="userAjaxHandler.delete('${instrument?.id}', '/admin/instrument/delete/')"
                                    data-placement="top" data-original-title="Supprimer">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                    #{/list}
                </tbody>
            </table>
        </div><!--end .section-body -->
    </section>
</div><!--end .table-responsive -->
#{/box}

#{modal modalId : 'addModal', modalClass : 'addMod'}
    #{include 'Instruments/tag/edit.html'/}
#{/modal}

#{set 'moreScripts'}
<script>
    $('#nav-settings-instrument').attr('class', 'active');
</script>
#{/set}
